#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url("../images/showcase-back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 25px;
  padding-bottom: 0;
}

#showcase .content-wrap {
  padding: 0 1.5em;
  padding-bottom: 0.5em;
}

#showcase #main-nav {
  padding-top: 5px;
}

#showcase #main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0.5em;
}

#showcase #main-nav a {
  display: block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #666;
  margin: .5em 0;
}

#showcase #main-nav a:hover {
  background: #eaeaea;
  color: #333;
}

#section-a {
  background: #eaeaea;
  color: #333;
  padding: 2em;
}

#section-a .content-wrap {
  padding: 0 1.5em;
}

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

#section-b .card-content {
  padding: 1.5em;
}

#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background: #2690d4;
}

#main-footer {
  padding: 2em;
  background: black;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}

@media (min-width: 700px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #main-nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 50px;
  }
  #main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
    margin: 0 0.5em;
  }
  #main-nav li {
    width: 100%;
    height: 100%;
    margin: 15px;
    padding: 0;
  }
  #main-nav a {
    width: 100%;
  }
  .content-wrap,
  #section-b ul {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: .5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}
/*# sourceMappingURL=style.css.map */